//fade upwards
@keyframes upwardAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

//animation for anchors
@keyframes ancAni {
  0% {
    left: 0%;
    width: 0%;
    background-color: var(--anchorAni-one);
  }
  50% {
    left: 12.5%;
    width: 75%;
    background-color: var(--anchorAni-two);
  }
  75% {
    left: 100%;
    width: 0%;
    background-color: var(--anchorAni-one);
  }
  100% {
    left: 0%;
    width: 0%;
  }
}
